@font-face {
    font-family: 'webfont';
    src: url('../fonts/Quill_script.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url(../images/bg.jpg);
    color: rgb(253, 249, 250);
    font-family: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
}

a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    color: #62412E;
    text-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 1px;
}
a:hover {
    color: #000;
}

a[title]:hover::after {
    position: fixed;
    color: white;
    font-size: 120%;
    background: #a00;
    text-shadow: -2px 1px 2px #000;
    border: 1px solid #faa;
    border-right: none;
    bottom: 20px;
    right: 0px;
    padding: 6px;
    padding-left: 10px;
    z-index: 101;
    -moz-box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 7px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
a[title]:hover::after {
    content: attr(title);
}

time {
    font-family: 'webfont';
    color: rgba(0, 0, 0, 0.4);
    font-size: 60%;
    text-shadow: rgba(150, 150, 150, 0.5) 1px 0px 1px;
    margin-left: 15px;
}
body > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.bookmark {
    position: relative;
    font-size: 130%;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
    -webkit-box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    background: #D17100;
    padding: 10px 20px 10px 20px;
    margin: 5px 20px 5px -20px;
}
a.bookmark:hover {
    background: rgb(184, 211, 11);
    background: -moz-linear-gradient(0% 100% 90deg,#B8D30B, #A4D30B);
    padding-right: 30px;
}
a.bookmark:active {
    color: #fff;
    background: rgb(184, 211, 11);
}
header > a.bookmark {
    font-size: 200%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    background: rgb(184, 211, 11);
    background: -moz-linear-gradient(0% 100% 90deg,#B8D30B, #A4D30B);
    color: #000;
    margin-bottom: 10px;
}
article {
    display: block;
    max-width: 50em;
    text-shadow: rgba(100, 100, 100, 0.496094) 0px 1px 1px;
    -webkit-box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px 10px 20px;
    margin: 5px 20px 5px -20px;
}
article a {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 1px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
article a:hover {
    color: black;
    background: rgba(238, 208, 0, 1);
}
#disqus_thread a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
}
#disqus_thread {
    color: black;
    margin-right: 50px;
}
#disqus_thread h3,
#disqus_thread p,
#disqus_thread .dsq-request-user-info,
#disqus_thread .dsq-options,
#disqus_thread .dsq-thread-settings,
#disqus_thread .dsq-comment-footer,
#disqus_thread .dsq-comment-header-meta {
    font-family: 'webfont';
}

#promotejs > img {
  border: none;
}
.ribbon {
    position: fixed;
    z-index: 3;
    overflow: hidden;
    height: 100px;
    right: 0;
    top: 0;
    pointer-events: none;
}
.ribbon > a {
    pointer-events: auto;
    outline: none;
    position: relative;
    top: 25px;
    left: 45px;
    background-color: #a00;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* shadow */
    -moz-box-shadow: 0 0 1em #333;
    box-shadow: 0 0 1em #333;
    -webkit-box-shadow: 0 0 1em #333;
    display: block;
    border: 1px solid #faa;
    color: #fff;
    font: bold 10px 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
}
.ribbon > a::before {
    position: absolute;
    z-index: 2;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -webkit-transition: top 0.3s ease-out;
    -moz-transition: top 0.3s ease-out;
    content: url(/resources/images/octocat.png);
    left: -68px;
    top: 10px;
}
.ribbon > a:hover::before {
    left: -31px;
    top: 30px;
}
.ideas {
    background: #24c2c7;
}

.bespin, .editor {
    background: #D40050;
}

.ubiquity, .extension, .jetpack, .addon, .extension {
    background: #3299CC;
}
.commonjs, .serverjs {
    background: #5B6185;
}
.linux {
    background: #730000;
}
.xulrunner {
    background: #EF4D28;
}


@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

pre, code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: #f8f8f8;

  background: -moz-linear-gradient(0% 100% 0deg, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.6) 90%);
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.6)));
}

code {
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

pre {
  margin-left: 10px;
  padding-left: 10px;
  padding: 14px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.Operator { color: #79c67b; }
.Type { color: #9b859d; }
.Statement { color: #cda869; }
.Identifier { color: #fc91ad; }
.Braces { color: #24c2c7; }
.Keyword { color: #aac6e3; }
.Function { color: #8da8ec; }
.Operators { color: #fa8d6a; }
.String { color: #8f9d6a; }
.Parens { color: #24c2c7; }
.Comment { color: #626262; font-style: italic; }
.Error { color: #cf6a4c; text-decoration: underline; }
.Exception { color: #cf6a4c; }
