body {
    background: url(../images/bg.jpg);
    color: rgb(253, 249, 250);
    font-size: 1em;
    font-family: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
}

a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    color: #62412E;
    text-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 1px;
}
a:hover {
    color: #000;
}

a[title]:hover::after {
    position: fixed;
    color: white;
    font-size: 120%;
    background: #a00;
    text-shadow: -2px 1px 2px #000;
    border: 1px solid #faa;
    border-right: none;
    bottom: 20px;
    right: 0px;
    padding: 6px;
    padding-left: 10px;
    z-index: 101;
    -moz-box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.5), 5px 6px 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 7px; 
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
a[title]:hover::after {
    content: attr(title);
}

time {
    color: rgba(0, 0, 0, 0.4);
    font-size: 60%;
    text-shadow: rgba(225, 225, 225, 0.5) 0px 1px 1px;
    margin-left: 15px;
}
body > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.bookmark {
    font-size: 130%;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
    -webkit-box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    background: #D17100;
    padding: 10px 20px 10px 20px;
    margin: 5px 20px 5px -20px;
}
a.bookmark:hover {
    background: rgb(184, 211, 11);
    background: -moz-linear-gradient(0% 100% 90deg,#B8D30B, #A4D30B);
    padding-right: 30px;
}
a.bookmark:active {
    color: #fff;
    background: rgb(184, 211, 11);
}
header.bookmark {
    font-size: 200%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    background: rgb(184, 211, 11);
    background: -moz-linear-gradient(0% 100% 90deg,#B8D30B, #A4D30B);
    color: #000;
    margin-bottom: 10px;
}
article {
    display: block;
    text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 1px;
    -webkit-box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 50px 10px 20px;
    margin: 5px 20px 5px -20px;
}
article a {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 1px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
article a:hover {
    color: black;
    background: rgba(238, 208, 0, 1);
}

#disqus_thread {
    color: black;
}

.ribbon {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    height: 100px;
    right: 0;
    top: 0;
    pointer-events: none;
}
.ribbon > a {
    pointer-events: auto;
    outline: none;
    position: relative;
    top: 25px;
    left: 45px;
    background-color: #a00;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* shadow */
    -moz-box-shadow: 0 0 1em #333;
    -webkit-box-shadow: 0 0 1em #333;
    display: block;
    border: 1px solid #faa;
    color: #fff;
    font: bold 10px 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
}
.ribbon > a::before {
    position: absolute;
    z-index: 2;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -webkit-transition: top 0.3s ease-out;
    -moz-transition: top 0.3s ease-out;
    content: url(/resources/images/octocat.png);
    left: -68px;
    top: 10px;
}
.ribbon > a:hover::before {
    left: -31px;
    top: 30px;
}
.red,
.extension {
    background: #906E64;
}
.pink,
.bespin {
    background: #D40050;
}
.blue,
.ubiquity {
    background: #3299CC;
}
.yellow,
.commonjs {
    background: #8A919B;
}
.linux {
    background: #2C2C2C;
}    
.xulrunner {
    background: #9DB271;
}

pre {
    content: counter(section);
    counter-increment: section;
    border-left: 1px dotted white;
    margin-left: 10px;
    padding-left: 10px;
}
pre:nth-line(1n):before {
    content: counter(section);

}

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}